[mysqld]
# 存储位置
datadir = /www/server/data

# 时区设置
default-time-zone = '+08:00'

# 调整为512K，避免复杂查询出错
thread_stack = 512K

# ---------- 基础配置 ----------
# 默认端口
port = 61786
# ---------- 字符集配置 ----------
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# ---------- 认证和安全 ----------
skip-name-resolve = 1
default_authentication_plugin = mysql_native_password
tls_version = TLSv1.2,TLSv1.3

# ---------- GTID和复制配置 ----------
gtid-mode = ON
enforce-gtid-consistency = 1

# 跳过DDL错误，等同于 1007,1008,1050,1051,1054,1060
#1062 - 主键/唯一键重复 | 1068 - 定义了多个主键 | 1072 - 索引列不存在 | 1146 - 表不存在
replica_skip_errors = ddl_exist_errors,1062,1068,1072,1146

# 8.0.23 及之后使用
replica_compressed_protocol=1

# 指定压缩算法，可选值包括：zlib, zstd, uncompressed
protocol_compression_algorithms=zstd,zlib,uncompressed

# ---------- Binlog配置 ----------
log_bin = mysql-bin
binlog_format = ROW
binlog_expire_logs_auto_purge = ON
binlog_row_image = FULL
binlog_row_metadata = MINIMAL
binlog_cache_size = 4M
binlog_expire_logs_seconds = 259200
binlog_transaction_compression = ON
max_binlog_size = 1G

# ---------- 内存相关配置 ----------
key_buffer_size = 128M
max_heap_table_size = 64M
tmp_table_size = 64M
join_buffer_size = 2M
sort_buffer_size = 2M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
myisam_sort_buffer_size = 16M

# ---------- 连接数设置 ----------
max_connections = 1000
thread_cache_size = 64
wait_timeout = 28800
interactive_timeout = 28800

# ---------- 存储引擎配置 ----------
default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_autoinc_lock_mode = 2

# 缓存相关配置
performance_schema_max_table_instances = 2000
table_definition_cache = 2000
table_open_cache = 2000

# ---------- InnoDB配置 ----------
innodb_redo_log_capacity = 1073741824
innodb_log_buffer_size = 32M
innodb_data_file_path = ibdata1:10M:autoextend
innodb_temp_data_file_path = ibtmp1:12M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_max_dirty_pages_pct = 90


# ---------- 查询相关 ----------
max_allowed_packet = 64M

sql-mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO"
explicit_defaults_for_timestamp = true

# ---------- 慢查询日志 ----------
slow_query_log = ON
long_query_time = 1

!includedir /etc/mysql/conf.d/